.containerForumForm {
  width: 90%;
}

.containerForumForm form{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerForumForm input{
  width: 90%;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  border-color: #018B44;
  color: #018B44;
  margin-top: 3%;
  padding: 1%;
}

.containerForumForm textarea{
  resize: none;
  padding: 1%;
  margin-top: 3%;
  width: 90%;
  height: 350px;
  border-radius: 15px;
  font-size: 15px;
  border-color: #018B44;
  color: #018B44;
}

.containerForumForm button{
  margin-top: 3%;
  padding: 1%;
  background: #018B44;
  border: none;
  color: #ffff;
  width: 25%;
}