.containerLoginForm{
  background-color: #0D8447;
  width: 350px;
  height: 380px;
  border-radius: 20px;
  display: block;
}

.containerLoginForm img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.containerLoginForm div{
  align-self: center;
  padding-top: 5%;
}

.containerLoginForm input{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  border-radius: 20px;
}
.containerLoginForm label{
  font-size: 20px;
  margin-left: 5%;
  color: #ffff;
  font-weight: bold;
}

.containerLoginForm br{
  margin-top: 8%;
}

.containerLoginForm button{
  background: #0260EE;
  align-self: center;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30px;
  border-radius: 8px;
  border: none;
  color: #ffff;
  font-weight: bold;
}